

.navsearch{

    margin-right: 650px;
}



.col-right{
    background-color: aliceblue;
    /* padding-right: 0%; */
}
.nav{
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; */
    margin: -9px;
    
}
 
.dpdn{
    margin-top: 50px;
    margin-left: 50px;
    padding: 0%;
}
.visitors{
    border: solid 1px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
} 

.funeel{
    border: solid 1px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
.col-md{
    width: 20%;
    margin-left: 20px;
}


/*  -----------------------------------------------------------*/
.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(20% - 10px);
    min-height: 50px;
    min-width: 130px;
    /* background-color: #ccc; */
    margin: 5px 5px;
  }

  .slider{
    border: solid 1px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
  }